.cart-table-img {
  width: 50px;
}
.tabel {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: solid #0a3641 2px;
  border-left: solid #0a3641 2px;
}
.tabel > * {
  border-top: solid #0a3641 2px;
  border-right: solid #0a3641 2px;
  padding: 10px;
}
.empty-table {
  height: 150px;
}
.product {
  display: flex;
  align-items: center;
}
.product > p {
  margin-left: 10px;
}
.tabel-span2 {
  grid-column: 1 / span 2;
}
.cart-form {
  display: flex;
  flex-direction: column;
}
input {
  border: solid #0a3641 2px;
}
