@import "variables.css";

.cart-table-img {
  width: 50px;
}

.cart-main {
}

.tabel {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: solid var(--color-fontAndIcons) 2px;
  border-left: solid var(--color-fontAndIcons) 2px;
}

.tabel > * {
  border-top: solid var(--color-fontAndIcons) 2px;
  border-right: solid var(--color-fontAndIcons) 2px;
  padding: 10px;
}

.empty-table {
  height: 150px;
}

.product {
  display: flex;
  align-items: center;
}

.product > p {
  margin-left: 10px;
}



.cart-form {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 100px auto;
}

.cart-form > div {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin: 25px auto;
}

input {
  border: solid var(--color-fontAndIcons) 2px;
  width: 150px;
  height: 30px;
}

.cta {
  width: 120px;
  margin: 20px auto;
}

/* form validation style*/
.errorText {
  color: red;
  display: none;
  font-size: 17px;
}

.hiddenInfoLinks{
  display: flex;
}
.hiddenInfo {
  
}