.contact-main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}
.contact-main > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 30px;
}

.contact-form {
  display: grid;
  grid-template-columns: auto;
}
.contact-form input {
  border: solid #0a3641  2px;
}
.contact-form > div {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.cta {
  width: 250px;
  margin: 20px auto;
}
label {
  text-align: left;
}
#message,
h1 {
  margin-top: 15px;
}
