@import "variables.css";
.contact-main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.contact-main > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 30px;
}

.contact-form {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

input,
textarea {
  border: solid var(--color-fontAndIcons) 2px;
  min-height: 32.5px;
}

.contact-form > div {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.cta {
  width: 250px;
  margin: 20px auto;
}

label, 
p{
  text-align: left;
}

#message,
h1 {
  margin-top: 15px;
}

.contact-main > form:nth-child(2) {
  text-transform: capitalize;
}

.textError {
  display:none;
  font-size: 0.8em;
  color: red;
}
.inputError{
  border: red solid 2px
}
#phone_input{
  display: flex;
  align-items: center;
  justify-content: center;
}
