* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
  color: #0a3641;
}

h2 {
  font-family: Roboto;
  font-weight: medium;
  font-size: 20px;
  color: #0a3641;
}

/* hamburger-menu */
/* #hamburger-menu {
  display: block;
  margin-left: 50px;
}

#hamburger-menu:checked ~ .nav__links {
  display: block;
}

.hamburger-menu__label {
  margin-left: 50px;
  display: block; */
}

/* BODY */
body {
  min-height: 100vh;
  background-color: #e8e8e8;
  font-family: "Noto-Sans-Display";
  font-size: 15px;
  color: #0a3641;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* ICONS */
.icon {
  color: #0a3641;
}

/* link */
.link {
  text-decoration: none;
  color: #0a3641;
}

/* HEADER */

a {
  color: #0a3641;
}
.header {
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}
.header .logo {
  float: left;
  display: block;
}
.header .menu {
  clear: both;
}










 /* header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 130px;
  margin: 0 50px;
} */

.header__underline {
  border-bottom: solid #0a3641;
}

.logo {
  cursor: pointer;
  width: 150px;
}

/* .nav__links {
  display:  none;
} */

/* .nav__links {
  list-style: none;
  margin: 100px;
} */

.nav__links > li,
.nav__links > li > a {
  display: inline-block;
  text-decoration: none;
  color: #0a3641;
  font-size: 15px;
  margin: 0 15px;
  text-transform: capitalize;
}

.header__icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__icons * {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.active {
  text-decoration: underline;
} 

/* MAIN */
main {
  display: flex;
  margin: 25px auto;
  align-items: center;
  flex-direction: column;
}

main > * {
  flex: 1;
}

main > div {
  text-align: center;
  width: 350px;
}

.index__img {
  width: 90%;
  border: #0a3641 2px solid;
}

.index-button {
  display: flex;
  margin: 20px auto;
}
.index-button > * {
  flex: 1;
}

.button1,
.button2 {
  background-color: #0b728c;
  color: ##0a3641;
  width: 266px;
  border-radius: 12px;
  text-align: center;
}
.button1 {
  margin-right: 50px;
}
.button2 {
  margin-left: 50px;
}
/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 5%;
}

.footer__socialmedia {
  margin-left: auto;
}

.footer__socialmedia > * {
  margin: 20px;
  font-size: 30px;
}

/* deevice specific sizes */
/* 
@media (min-width: 600px) {
  .index__img {
    width: 600px;
  }
  main {
    flex-direction: row;
    gap: 50px;
  }
}

@media (min-width: 1300px) {
} */
